<article class="blog-post ng-cloak" ng-if="vm.status !== 404" ng-repeat="gist in vm.gists | orderBy:'-date' | pager:vm.pagination">
  <h1>{{ gist.description }}</h1>
  <p ng-repeat="file in gist.files">• {{ file.filename | limitTo:150 }}<span ng-if="file.content.length > 150">...</span></p>
  <ul>
    <li><img ng-src="{{ gist.owner.avatar_url }}" alt="Photo of {{ gist.owner.login }}" title="Photo of {{ gist.owner.login }}"></li>
    <li>By <a href="{{ gist.owner.html_url }}">{{ gist.owner.login }}</a></li>
    <li>{{gist.created_at | date}}</li>
    <li>{{gist.comments}} comments</li>
  </ul>
  <div>
    <a href="#/gists/{{ gist.id }}" ng-click="vm.scroll()" class="button-big button-read">Read More</a>
  </div>
</article>
<h2 class="no-show" ng-show="gists.length === 0">No Posts! Want to <a href='#/gists/new'>create one</a>?</h2>

<nav ng-show="gists.length !== 0">
  <button class="button-big button-change" ng-click="vm.pagination.prevPage()">Prev</button>

  <button class="button-big button-change" ng-click="vm.pagination.nextPage()">Next</button>
</nav>
