<div class="blog-form">
  <form name="postForm" class="create-post" ng-submit="postForm.$valid && vm.save()" novalidate>
    <input type="text" ng-model="vm.gist.description" placeholder="Your great Gist description" required/>
    <input type="text" ng-model="vm.gistFilename" placeholder="Your Filename" required/>
    <textarea name="message" ng-model="vm.gist.files[vm.gistFilename].content" placeholder="Content" required></textarea>
    <label>Public?</label><input type="checkbox" ng-click="vm.checked()" ng-model="vm.gist.public"/>
    <ul>
      <li><input type="submit" name="Submit" class="button-big"></li>
      <li><a href ng-click="vm.delete(vm.gist.id)" class="button-big button-read">Delete</a></li>
      <li><a href="#/gists/" class="button-big">Home</a></li>
    </ul>
  </form>
  <article class="post-preview">
    <h1>Your Post:</h1>
    <h2>{{ vm.gist.description }}</h2>
    <h3>{{ vm.gistFilename }}</h3>
    <p>{{ vm.gist.files[vm.gistFilename].content }}</p>
  </article>
</div>
